<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Interacciones fármacos y targets</title>
    {% load static %}
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="shortcut icon" href="{% static 'img/logo.ico' %}">
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    <style>
        #cyto {
            width: 100%;
            height: 800px;
            display: none; /* Inicialmente oculto */
        }
        body{
            padding: 10px;
        }
    </style>
</head>
<body>
    <h1>Interacciones Fármaco-Target | Base de Datos en inglés</h1>

    <!-- Formulario de búsqueda -->
    <form method="GET">
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="q" placeholder="Buscar... (más de uno separado por comas)" value="{{ query }}">
        </div>
    
        <div class="form-check form-switch">
            <input class="form-check-input" type="radio" name="search_type" value="exact" id="exactMatch" {% if search_type == 'exact' %}checked{% endif %}>
            <label class="form-check-label" for="exactMatch">Mostrar coincidencias exactas</label>
        </div>
    
        <div class="form-check form-switch">
            <input class="form-check-input" type="radio" name="search_type" value="contains" id="containsMatch" {% if search_type == 'contains' %}checked{% endif %}>
            <label class="form-check-label" for="containsMatch">Mostrar coincidencias parciales</label>
        </div>
    
        <button type="submit" class="btn btn-outline-info">Buscar</button>
    </form>


    <br>
    {% if interactions %}
    <!-- Nodos -->
    <div>
        <div class="card-group">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Nodos</h5>
                  <h6 class="card-subtitle mb-2 text-body-secondary">Colores</h6>
                  <p class="card-text">Existen dos tipos de nodos actualmente, de color rosa: proteinas, color cian: fármacos</p>
                </div>
              </div>
              <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Nodos</h5>
                  <h6 class="card-subtitle mb-2 text-body-secondary">Arrastables</h6>
                  <p class="card-text">Los nodos son arrastables para poder observarlos de mejor forma</p>
                </div>
              </div>    
        </div>
        <div>
            <div>
                <h4>Distribución de nodos</h4>
                <!--circle, cose, breadthfirst, concentric-->

            </div>
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" class="btn-check" name="btnradio" id="btn-cose" autocomplete="off" checked>
                <label class="btn btn-outline-primary" for="btn-cose">Cose</label>
            
            
                <input type="radio" class="btn-check" name="btnradio" id="btn-circle" autocomplete="off">
                <label class="btn btn-outline-primary" for="btn-circle">Circle</label>
            
            
                <input type="radio" class="btn-check" name="btnradio" id="btn-breadthfirst" autocomplete="off">
                <label class="btn btn-outline-primary" for="btn-breadthfirst">Breadthfirst</label>
            
                <input type="radio" class="btn-check" name="btnradio" id="btn-concentric" autocomplete="off">
                <label class="btn btn-outline-primary" for="btn-concentric">Concentric</label>
            </div>
        </div>
        <div id="cyto"></div>
        <script src="https://unpkg.com/cytoscape@3.21.0/dist/cytoscape.min.js"></script>
        <!-- Script de los nodos en cytoscape -->

        <!-- Script de los colores de las aristas -->
        <script src="{% static 'js/colorMap.js' %}"></script>

        <!--
        <script src="{% static 'js/graph.js' %}">
            var total_interactions = {{ total_interactions }};
            var total_interactions = {{ total_interactions }};
            var interaction = {{interaction}};
            createCytoscapeGraph(total_interactions, interaction, colorMap);
        </script>
        -->
        <!-- Cytoscape script-->
        <script>
            // <!--circle, cose, breadthfirst, concentric-->

            document.addEventListener('DOMContentLoaded', function () {
                var total_interactions = {{ total_interactions }};
                if (total_interactions < 200) {
                    var elements = [
                        {% for interaction in interactions %}
                            { data: { id: '{{ interaction.drug_drug.drug_id }}', type: 'drug', label: '{{ interaction.drug_drug.name }}' } },
                            { data: { id: '{{ interaction.target_target.target_id }}', type: 'target', label: '{{ interaction.target_target.name }}' } },
                            { data: { id: 'DT{{ interaction.category_id }}', source: '{{ interaction.target_target.target_id }}', target: '{{ interaction.drug_drug.drug_id }}', type: '{{ interaction.type_interaction }}', label: '{{ interaction.type_interaction }}' } },
                        {% endfor %}
                    ];
        
                    var cy = cytoscape({
                        container: document.getElementById('cyto'), // Seleccionar el div
                        elements: elements,
                        style: [
                            {
                                selector: 'node[type="drug"]',
                                style: {
                                    'background-fit': 'contain',
                                    'background-image': 'url("{% static 'img/pill.webp' %}")',
                                    'background-color': '#5ce1e6',
                                    'label': 'data(label)',
                                    'text-outline-color': '#5ce1e6', 
                                    'text-outline-width': 1,
                                    'width': 120,
                                    'height': 120
                                }
                            },
                            {
                                selector: 'node[type="target"]',
                                style: {
                                    'background-fit': 'contain',
                                    'background-image': 'url("{% static 'img/target.webp' %}")',
                                    'background-color': '#ffaaaa',
                                    'label': 'data(label)',
                                    'text-outline-color': '#ffaaaa', 
                                    'text-outline-width': 1,
                                    'width': 120,
                                    'height': 120
                                }
                            },
                            {
                                selector: 'edge',
                                style: {
                                    'width': 2,
                                    'label': 'data(label)',
                                    'line-color': function(ele) {
                                        return colorMap[ele.data('type')] || '#ccc'; // Color por defecto si no se encuentra
                                    },
                                    'target-arrow-color': function(ele) {
                                        return colorMap[ele.data('type')] || '#ccc';
                                    },
                                    'curve-style': 'bezier',
                                    'target-arrow-shape': 'triangle', // Forma de la flecha en el extremo del destino
                                    'source-arrow-shape': 'triangle',
                                }
                            }
                        ],
                        layout: {
                            // circle, cose, breadthfirst, concentric
                            name: 'cose',
                            animate: true,
                            fit: true,
                            padding: 50,
                        }
                    });

                    // Mostrar el contenedor del grafo
                    document.getElementById('cyto').style.display = 'block';
                    
                    // Función para descargar la imagen como PNG
                    document.getElementById('downloadBtn').addEventListener('click', function () {
                        var png64 = cy.png({ scale: 3, full: true }); // Escala 3x para mayor resolución
                        var downloadLink = document.createElement('a');
                        downloadLink.href = png64;
                        downloadLink.download = 'druggraph.png';
                        document.body.appendChild(downloadLink); // Añadir el enlace temporalmente
                        downloadLink.click();
                        document.body.removeChild(downloadLink); // Eliminar el enlace después de la descarga
                    });

        
                    function applyCoseLayout() {
                        cy.layout({
                            name: 'cose',
                            animate: true,
                            fit: true,
                            padding: 50,
                            nodeRepulsion: 400
                        }).run();
                    }

                    function applyConcentricLayout() {
                        cy.layout({
                            name: 'concentric',
                            animate: true,
                            fit: true,
                            padding: 50,
                            nodeRepulsion: 400
                        }).run();
                    }

                    function applyCircleLayout() {
                        cy.layout({
                            name: 'circle',
                            animate: true,
                            fit: true,
                            padding: 50,
                            nodeRepulsion: 400
                        }).run();
                    }

                    function applyBreadthfirstLayout() {
                        cy.layout({
                            name: 'breadthfirst',
                            animate: true,
                            fit: true,
                            padding: 50,
                            nodeRepulsion: 400
                        }).run();
                    }
                    
                    const btnCose = document.getElementById('btn-cose');
                    const btnConcentric = document.getElementById('btn-concentric');
                    const btnCircle = document.getElementById('btn-circle');
                    const btnBreadthfirst = document.getElementById('btn-breadthfirst');

                    btnCose.addEventListener('change', () => applyCoseLayout());
                    btnConcentric.addEventListener('change', () => applyConcentricLayout());
                    btnCircle.addEventListener('change', () => applyCircleLayout());
                    btnBreadthfirst.addEventListener('change', () => applyBreadthfirstLayout());

                    
                    
                } else {
                    console.log("Demasiadas interacciones para mostrar el grafo.");
                }
            });
        </script>
        
    </div>
    <div>
        <button id="downloadBtn" class="btn btn-primary">Descargar imagen</button>
    </div>
    {% endif %}

    <table border="1" class="table table-striped-columns borderless">
        <thead>
            <tr>
                <!--
                <th>Interaction ID</th>
                -->
                <th>Drugbank ID</th>
                <th>Nombre del Fármaco</th>
                <th>Target ID</th>
                <th>Nombre del Target</th>
                <th>Tipo de interacción</th>
            </tr>
        </thead>
        <tbody>
            {% for interaction in interactions %}
                <tr>
                    <!--
                    <td>{{ interaction.category_id }}</td>
                    -->
                    <td>{{ interaction.drug_drug.drug_id }}</td>
                    <td>{{ interaction.drug_drug.name }}</td>
                    <td>{{ interaction.target_target.target_id }}</td>
                    <td>{{ interaction.target_target.name }}</td>
                    <td>{{ interaction.type_interaction }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5">No interactions found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
