<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Búsqueda</title>
</head>
<body>
    <h1>Resultados</h1>
    <!-- La idea por ahora es hacer que sean páginas distintas el buscar -->
    <!-- Que la página de inicio haga lo de buscar, manda una solicitud -->
    <!-- Una vez la solicitud esté completa traera a esta página donde -->
    <!-- Enseñara los resultados de la búsqueda como un grafo según -->
    <!-- La petición del usuario para así proceder con lo acontecido -->
    <!-- La visualización en un principio debería ser de las siguientes -->
    <!-- Target - Target según similitud -->
    <!-- Droga - Target asociados con investigación -->
    <!-- Droga - Droga según interacción negativa -->
    <!-- Droga - Droga según similitud -->
</body>
</html>